@charset "UTF-8";
.imgresize {
	max-width:100%;
	height:auto;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.bigtitle {
	color: #FC0;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	display: block;
	margin-left: 20px;
	margin-right: 20px;
}
